
<div class="row ">
    <div class="col col-7 leftPart">
        <div class="d-flex justify-content-center align-items-center mt-4 mb-2">
            <button #zoomIn class="btn btn-primary mx-3 px-2" (click)="handleZoomIn()">ZoomIn +</button> 
            <button #zoomOut class="btn btn-primary mx-3 px-2" (click)="handleZoomOut()">ZoomOut -</button>
        </div>
        <div class="mx-5">
            <div class="parentDiv">
                <img #baseImg class="baseImg" src="./assets/final.png" alt="">
                <canvas 
                (mousedown)="onMouseDown($event)" (mouseup)="onMouseUp()" 
                (dblclick)="onDblClick()" (mousemove)="onMouseMove($event)" 
                class="myCanvas" width="2000" height="1800" #myCanvas
                >Canvas Error</canvas>
            </div>
        </div>
    </div>
    <div class="col col-5">
    </div>
</div>